html {
    width: 100%;
}

body {
    max-width: 800px;
    margin: auto;
}

main {
    align-items: center;
}

.flex-container {
    display: flex;
}

.flex-container--column {
    flex-direction: column;
}
.flex-container--space-between {
    justify-content: space-between;
}

.container-width--400 {
    width: 80vw;
    max-width: 400px;
    min-width: 250px;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    margin-left: 20px;
}

header > button {
    margin-right: 20px;
    height: 25px;
}

.slider-container {
    display: grid;
    grid-template: auto / 70% 30%;
    margin-bottom: 16px;
}

#text-input-slider {
    margin-left: 15px;
    border-radius: 4px;
    border: 1px solid black;
}

#radio-container {
    height : 30px;
    justify-content: space-between;
}

#sketch-container {
    margin: auto;
    border: 1px solid black;
    box-sizing:content-box;
    height: 80vw;
    max-height: 400px;
    min-height: 250px;
    line-height: 0;
}

.sketch-container__div {
    border: none;
    margin: none;
}

.sketch-container__div--hovered {
    background-color: black;
}